<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>interfaz</title>
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  <link rel="stylesheet" href="/primerTrabajo/static/css/interfaz2.css" />
</head>
<body>
  
  <div class="main-container">

    <!-- Esquinas verdes -->
  <div class="corner-green-top"></div>
  <div class="corner-green-bottom"></div>  
  
  <img src="/primerTrabajo/static/image/logo_del_sena_verde-removebg-preview.png"LogoSENA" class="logo-top-right">
<!-- Contenido de la pagina -->


    <div class="container py-5">
      <h1 class="text-center mb-4">Mis Fichas</h1>
      <div class="input-group mb-4 w-50 mx-auto">
        <input
          type="search"
          class="form-control"
          placeholder="Buscar por número de ficha"
        />
        <button class="btn btn-outline-secondary" type="button">
          <i class="bi bi-search"></i>
        </button>
      </div>

      <!-- Targeta de Ficha -->
      <div class="row g-4">

        <div class="col-md-4">
          <div class="card-ficha">
            <div class="card-header-custom">Ficha <br>
                2923603</div>
                <div class="card-body">
                    <p class="mb-0">
                        Eres líder de ficha<br />
                        Trimestre 5to<br />
                        N° aprendices: 25<br />
                        Programa: Análisis y desarrollo de software
                    </p>
                </div>
          </div>
        </div>
     

      <!-- N°2 -->
  
        <div class="col-md-4">
          <div class="card-ficha">
            <div class="card-header-custom">Ficha <br>2923604</div>
            <div class="card-body">
              <p class="mb-0">
                Eres líder de ficha<br />
                Trimestre 5to<br />
                N° aprendices: 25<br />
                Programa: Análisis y desarrollo de software
              </p>
            </div>
          </div>
        </div>

    <!-- N°3 -->
  
        <div class="col-md-4">
          <div class="card-ficha">
            <div class="card-header-custom">Ficha <br>2923604</div>
            <div class="card-body">
              <p class="mb-0">
                Eres líder de ficha<br />
                Trimestre 5to<br />
                N° aprendices: 25<br />
                Programa: Análisis y desarrollo de software
              </p>
            </div>
          </div>
        </div>

         <!-- N°4 -->
  
        <div class="col-md-4">
          <div class="card-ficha">
            <div class="card-header-custom">Ficha <br>2923604</div>
            <div class="card-body">
              <p class="mb-0">
                Eres líder de ficha<br />
                Trimestre 5to<br />
                N° aprendices: 25<br />
                Programa: Análisis y desarrollo de software
              </p>
            </div>
          </div>
        </div>
   
   





    </div>

  </div> <!-- Finalizacion main-container  -->

  <div class="">
  <footer>
    <div class="footer-links">
     <img
          src="/primerTrabajo/static/image/logo_del_sena_verde-removebg-preview.png"
          alt=""
          class="logo-footer"
        />
      </div>
      <div class="ms-3 social-icons">
       
        <div class="social-icons">
  <a href="https://facebook.com" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384053.png" alt="Facebook"></a>
  <a href="https://instagram.com" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384063.png" alt="Instagram"></a>
  <a href="https://twitter.com" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384017.png" alt="Twitter"></a>
  <a href="https://youtube.com" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt="YouTube"></a>
  <a href="https://tiktok.com" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/3046/3046121.png" alt="TikTok"></a>
</div>


        <span class="ms-2">@SENAcomunica</span>
      </div>
      <div class="text-end">
        <div>Líneas de atención a ciudadanos, empresarios y línea de PQRS</div>
        <div>Bogotá 929999999</div>
        <div>Línea gratuita resto del país 0000000</div>
        <div>Línea de WhatsApp 9999999</div>
    </div>

    
 
  </footer>

</div>
</body>
</html>